<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

  <div>

    {% block content %}
        {% include 'partials/_messages.html' %}
        <h1> Expenses List </h1>
        <ul class="list-group">
            <li class="list-group-item"> Bought whiskeyyyyyyyyyyyyyy</li>
            <li class="list-group-item"> Bought wine</li>
            <li class="list-group-item"> Bought champagneeeeeeeeeeeeeeeeeeeeeee</li>
            <li class="list-group-item"> Bought beer</li>
            <li class="list-group-item"> Bought beer</li>
            <li class="list-group-item"> Bought beer</li>
            <li class="list-group-item"> Bought beer</li>
            <li class="list-group-item"> Bought beer</li>
            <li class="list-group-item"> Bought beer</li>
        </ul>
    {% endblock %}
  </div>
</body>
</html>